h1 {
  color: red;
}

footer {
  font-size: 14px;
  padding: 30px;
  border-top: 1px solid grey;
  background-image: url(./images/shopping.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}